*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: row;
}

.nav-box{
    flex: 1;
}

.content{
    flex: 6;
}